.SignUp{
    min-height: calc(100vh - 80px);
    width: 100%;

    display: flex;
    justify-content: center;
}

.SignUp .link{
    color: #262626;
    text-align: center;
    text-decoration-style: dotted;
    transition: color .5s, font-size .2s, text-decoration .5s;
}
.SignUp .link:hover{ color: #666666; text-decoration: underline; }

@media only screen and (max-width: 768px) {
    .SignUp{ align-items: flex-start; padding: 10vh 0; }
    .SignUp .link{ font-size: 15px; }
}
@media only screen and (min-width: 768px) {
    .SignUp{ align-items: center; }
    .SignUp .link{ font-size: 18px; }
}